/* Universal */

body {
    background-color: #212121;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


/* Helpers */

.text-pink {
    color: #ED145B;
}

.btn {
    border: 1px solid #ed145b;
    color: #ed145b;
    display: inline-block;
    font: 14px Gotham HTF Medium;
    letter-spacing: .5px;
    margin: 80px auto 0;
    padding: 15px 43px;
    text-transform: uppercase;
    -webkit-transition: background .4s ease, color .4s ease;
    transition: background .4s ease, color .4s ease;
    border-radius: 0;
}

.btn:hover {
    background: #ed145b;
    color: #000;
}


/* Navbar */

.navbar {
    color: #ED145B !important;
    background: transparent !important;
}

.navbar-brand {
    font-family: "Gotham HTF Thin";
    color: #ED145B !important;
    font-size: 2rem;
    letter-spacing: .25rem;
}


/* Header */

header {
    position: relative;
}

header .video-container {
    position: relative;
    height: 60vh;
    overflow: hidden;
}

header .video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

header .header-backdrop {
    width: 100%;
    height: 60vh;
    position: absolute;
    background-color: #000;
    opacity: .7;
    top: 0;
    left: 0;
}

header .header-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header .header-container .logo-robocup {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

header .header-container h1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ED145B;
    font-family: "Gotham HTF Thin";
    line-height: 3rem;
    font-size: 4rem;
}

header .header-container h1 span {
    display: block;
    text-align: right;
}

header .header-container h2 {
    position: absolute;
    left: 50%;
    top: calc(40% + 100px);
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ED145B;
    font-family: "Gotham HTF Book";
    font-size: 2rem;
    letter-spacing: .5rem;
}


/* Conteúdo */

.section-title {
    color: #91A3AD;
    font-family: "Gotham HTF Light";
    margin-bottom: 2rem;
}

.blink::after {
    content: '_';
    color: #ED145B;
    font-family: "Gotham HTF Light";
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

section p {
    color: #91A3AD;
}

section p span.text-pink {
    font-family: "Gotham HTF Medium";
}

#robocup {
    padding-top: 4em;
    padding-bottom: 2em;
}

#robocup video {
    width: 100% !important;
    height: auto !important;
}

#picanha {
    padding-top: 2em;
    padding-bottom: 2em;
}


/* Animações */

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}